.A_CardName {
  font-size: clamp(1.5rem, 2rem, 2rem);
  line-height: 110%;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white);

  .Q_TextSelection {
    color: var(--green);
  }
}

.A_CardKey {
  font-size: clamp(1rem, 3rem - 2rem, 1.15rem);
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .A_CardName {
    margin: 3% 0 1% 3%;
    font-size: clamp(1.5rem, 2rem, 2rem);
    line-height: 100%;
    font-weight: 500;
  }

  .A_CardKey {
    margin: 3% 0 1% 3%;
    font-size: clamp(1rem, 3rem - 2rem, 1.15rem);
    line-height: 120%;
  }
}

@media screen and (max-width: 420px) {
  .A_CardName {
    font-size: clamp(2rem, 3rem, 3rem);
  }
  .A_CardKey {
    font-size: clamp(1rem, 3rem - 2rem, 1.15rem);
  }
}
