.A_TextMainL {
  color: var(--white);
  font-size: rem(22);
  line-height: 110%;
  font-weight: 400;
  text-align: center;
}

.A_TextMainXL {
  color: var(--white);
  font-size: rem(33);
  font-weight: 400;
  text-align: center;
  line-height: 110%;
  text-transform: uppercase;
  margin: 0 auto;
}

.Q_TextMainSelection {
  color: var(--green);
  font-style: italic;
}

@media (max-width: 1770px) {
  .A_TextMainL {
    font-size: rem(16);
  }

  .A_TextMainXL {
    font-size: rem(24);
  }
}
