.A_TextMainH1 {
  color: var(--white);
  font-size: 1.15vw;
  font-weight: 200;
  text-align: center;
}

.A_TextMainH2 {
  color: var(--white);
  font-size: 2.5vw;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1vw;
  line-height: 135%;
}

.Q_TextMainSelection {
  font-size: 2.75vw;
  font-weight: 450;
  font-style: italic;
  color: var(--green);
}

.Q_TextSimpleSelection {
  color: var(--green);
}

@media screen and (max-width: 768px) {
  .A_TextMainH1 {
    font-size: 3.5vw;
  }

  .A_TextMainH2 {
    font-size: 4vw;
  }

  .Q_TextMainSelection {
    font-size: 4vw;
  }
}
