.S_Header {
  margin: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &.Shortcuts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    div:nth-child(1) {
      justify-self: start;
    }
    div:nth-child(2) {
      justify-self: center;
    }
    div:nth-child(3) {
      justify-self: end;
    }

    .O_Menu {
      .C_MenuItems {
        .M_MenuItem {
          &.Shortcuts {
            h3 {
              @include itemOpenConfig(var(--black), var(--green), 0px solid var(--green), 700, italic);
              border-radius: 2px;
            }
          }
        }
      }
    }
  }

  &.Selections {
    .O_Menu {
      .C_MenuItems {
        .M_MenuItem {
          &.Selections {
            h3 {
              @include itemOpenConfig(var(--black), var(--green), 0px solid var(--green), 700, italic);
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}
