.S_SearchForm {
  width: 100%;

  &.Selections {
    margin: rem(10) 0 rem(45);
  }

  .C_SearchBar {
    display: flex;
    flex-direction: row;
    height: rem(56);
    border-radius: 5px;
    background-color: #0d0d0d;
    border: 1.75px solid var(--grey);
    color: var(--gray);
    font-size: 1.25rem;
    cursor: help;

    &:hover {
      outline: 1.5px solid var(--green);

      .M_SearchButton {
        .A_ButtonSVG {
          .Q_ButtonIcon {
            fill: var(--green);
          }
        }
      }

      .M_SearchInput::-webkit-input-placeholder {
        color: var(--green);
      }
    }

    .M_SearchInput {
      @include resetButton;
      width: 97%;
      height: 100%;
      color: var(--green);

      &[placeholder] {
        padding-left: 1.25rem;
        font-size: 1.3rem;
        font-weight: 400;
      }

      &::-webkit-input-placeholder {
        color: var(--grey);
      }
    }

    .M_SearchButton {
      @include resetButton;
      visibility: collapse;
      margin-left: 0.45rem;

      .A_ButtonIcon {
        color: var(--grey);
      }
    }
  }
}

@media (max-width: 645px) {
  .S_SearchForm {
    &.Shortcuts {
      margin: rem(10) 0 rem(45);
    }
  }
}
