.C_Footer {
  display: flex;
  flex-direction: row;
  margin: rem(50) rem(70);

  .M_FooterUp {
    .A_UpText {
      @include itemGrid;
      @include itemConfigg(7rem, 2.6rem, var(--white), transparent, 1.5px solid var(--grey), 0px, 1rem, 400);
      border-radius: 4px 0px 0px 4px;

      &:hover {
        @include itemOpenConfig(var(--green), transparent, 1.5px solid var(--grey), 500, italic);
      }
    }
  }

  .M_FooterVk,
  .M_FooterDzen,
  .M_FooterTg {
    @include itemGrid;
    @include itemConfigg(2.6rem, 2.6rem, var(--white), transparent, 1.5px solid var(--grey), 0px, 1rem, 400);
  }

  .M_FooterVk {
    .A_VkSVG {
      width: 1.41rem;
      height: 0.84rem;
    }

    &:hover .A_IconVk {
      fill: var(--green);
    }
  }

  .M_FooterDzen {
    .A_DzenSVG {
      width: 1.62rem;
      height: 1.62rem;
    }

    &:hover .A_IconDzen {
      fill: var(--green);
    }
  }

  .M_FooterTg {
    .A_TgSVG {
      width: 1.41rem;
      height: 1.15rem;
      transform: translate(-1px);
    }

    &:hover .A_IconTg {
      fill: var(--green);
    }
  }

  .M_FooterAbout {
    .A_AboutText {
      @include itemGrid;
      @include itemConfigg(8rem, 2.6rem, var(--white), transparent, 1.5px solid var(--grey), 0px, 1rem, 400);
      border-radius: 0px 4px 4px 0px;

      &:hover {
        @include itemOpenConfig(var(--green), transparent, 1.5px solid var(--grey), 500, italic);
      }
    }
  }
}

@media (max-width: 1200px) {
  .C_Footer {
    margin: rem(35) rem(31) rem(50);
  }
}

@media (max-width: 768px) {
  .C_Footer {
    margin: rem(35) rem(31) rem(40);
  }
}

@media (max-width: 656px) {
  .C_Footer {
    margin: rem(25) rem(15) rem(25);

    .M_FooterUp {
      .A_UpText {
        @include itemGrid;
        @include itemConfigg(5.5rem, 2.6rem, var(--white), transparent, 1.5px solid var(--grey), 0px, 0.8rem, 400);
        border-radius: 4px 0px 0px 4px;

        &:hover {
          @include itemOpenConfig(var(--green), transparent, 1.5px solid var(--grey), 500, italic);
        }
      }
    }

    .M_FooterVk,
    .M_FooterDzen,
    .M_FooterTg {
      @include itemGrid;
      @include itemConfigg(2.6rem, 2.6rem, var(--white), transparent, 1.5px solid var(--grey), 0px, 0.8rem, 400);
    }

    .M_FooterVk {
      .A_VkSVG {
        width: 1.31rem;
        height: 0.74rem;
      }

      &:hover .A_IconVk {
        fill: var(--green);
      }
    }

    .M_FooterDzen {
      .A_DzenSVG {
        width: 1.42rem;
        height: 1.42rem;
      }

      &:hover .A_IconDzen {
        fill: var(--green);
      }
    }

    .M_FooterTg {
      .A_TgSVG {
        width: 1.21rem;
        height: 0.95rem;
        transform: translate(-1px);
      }

      &:hover .A_IconTg {
        fill: var(--green);
      }
    }

    .M_FooterAbout {
      .A_AboutText {
        @include itemGrid;
        @include itemConfigg(5.75rem, 2.6rem, var(--white), transparent, 1.5px solid var(--grey), 0px, 0.8rem, 400);
        border-radius: 0px 4px 4px 0px;

        &:hover {
          @include itemOpenConfig(var(--green), transparent, 1.5px solid var(--grey), 500, italic);
        }
      }
    }
  }
}
