.C_Footer {
  display: flex;
  flex-direction: row;
  margin: rem(50) rem(70);

  .M_FooterUp {
    .A_UpText {
      @include itemGrid;
      width: 6.6rem;
      height: 2.9rem;
      color: var(--white);
      background-color: transparent;
      border: 1.5px solid var(--grey);
      font-size: 1rem;
      font-weight: 400;
      border-radius: 4px 0px 0px 4px;

      &:hover {
        @include itemOpenConfig(var(--green), transparent, 1.5px solid var(--grey), 500, italic);
      }
    }
  }

  .M_FooterAbout {
    .A_AboutText {
      @include itemGrid;
      width: 7rem;
      height: 2.9rem;
      color: var(--white);
      background-color: transparent;
      border-top: 1.5px solid var(--grey);
      border-bottom: 1.5px solid var(--grey);
      border-right: 1.5px solid var(--grey);

      font-size: 1rem;
      font-weight: 400;
      border-radius: 0px 4px 4px 0px;

      &:hover {
        @include itemOpenConfig(var(--green), transparent, 1.5px solid var(--grey), 500, italic);
      }
    }
  }

  .M_FooterVk,
  .M_FooterDzen,
  .M_FooterTg {
    @include itemGrid;
    width: 2.9rem;
    height: 2.9rem;
    color: var(--white);
    background-color: transparent;
    border-top: 1.5px solid var(--grey);
    border-bottom: 1.5px solid var(--grey);
    border-right: 1.5px solid var(--grey);
    font-size: 1rem;
    font-weight: 400;
  }

  .M_FooterVk {
    .A_VkSVG {
      width: 1.41rem;
      height: 0.84rem;
    }

    &:hover .A_IconVk {
      fill: var(--green);
    }
  }

  .M_FooterDzen {
    .A_DzenSVG {
      width: 1.62rem;
      height: 1.62rem;
    }

    &:hover .A_IconDzen {
      fill: var(--green);
    }
  }

  .M_FooterTg {
    .A_TgSVG {
      width: 1.41rem;
      height: 1.15rem;
      transform: translate(-1px);
    }

    &:hover .A_IconTg {
      fill: var(--green);
    }
  }
}

@media (max-width: 1200px) {
  .C_Footer {
    margin: rem(35) rem(31) rem(50);
  }
}

@media (max-width: 768px) {
  .C_Footer {
    margin: rem(35) rem(31) rem(40);
  }
}

@media (max-width: 656px) {
  .C_Footer {
    margin: rem(25) auto;

    .M_FooterUp {
      .A_UpText {
        @include itemGrid;
        width: 5.75rem;
        height: 2.5rem;
      }
    }

    .M_FooterAbout {
      .A_AboutText {
        @include itemGrid;
        width: 6.5rem;
        height: 2.5rem;
        border-radius: 0px 4px 4px 0px;
      }
    }

    .M_FooterVk,
    .M_FooterDzen,
    .M_FooterTg {
      @include itemGrid;
      width: 2.7rem;
      height: 2.5rem;
    }

    .M_FooterVk {
      .A_VkSVG {
        width: 1.31rem;
        height: 0.74rem;
      }

      &:hover .A_IconVk {
        fill: var(--green);
      }
    }

    .M_FooterDzen {
      .A_DzenSVG {
        width: 1.42rem;
        height: 1.42rem;
      }

      &:hover .A_IconDzen {
        fill: var(--green);
      }
    }

    .M_FooterTg {
      .A_TgSVG {
        width: 1.21rem;
        height: 0.95rem;
        transform: translate(-1px);
      }

      &:hover .A_IconTg {
        fill: var(--green);
      }
    }
  }
}
