.O_Logo {
  .M_LogoSVG {
    margin-top: 0.4vw;
    // margin-left: -1.88vw;
    width: 11vw;
    overflow: visible;
    transform: translate(0px);

    // .A_VectorShift {
    //   transform: translate(1.88vw);
    // }
  }
}
