.O_Logo {
  .M_LogoSVG {
    width: rem(225);
    overflow: visible;
  }
}

@media (max-width: 1770px) {
  .O_Logo {
    .M_LogoSVG {
      width: rem(165);
    }
  }
}

@media (max-width: 1440px) {
  .O_Logo {
    .M_LogoSVG {
      width: rem(165);
    }
  }
}

@media (max-width: 645px) {
  .O_Logo {
    .M_LogoSVG {
      display: none;
    }

    &::before {
      content: '';
      line-height: 100%;
      width: rem(55);
      height: rem(55);
      display: flex;
      align-self: center;
      background-image: url(images/hotkeys-min.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .M_BlockStyle.Logo {
    .O_Logo {
      .M_LogoSVG {
        display: block;
        margin: 0 auto;
      }

      &::before {
        content: none;
      }
    }
  }
}
