.O_Keyboard {
  display: grid;
  place-items: center;

  .A_KeyboardSVG {
    width: 77.5rem;
  }
}

@media screen and (max-width: 768px) {
  .O_Keyboard {
    .A_KeyboardSVG {
      overflow: visible;
      width: 95rem;
    }
  }
}
