.W_SnackBarWrapper {
  z-index: 99;
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 1.875rem;
}

.M_SnackBar {
  width: fit-content;
  padding: 1rem 4rem;
  border-radius: 5px;
  font-size: rem(20);
  line-height: rem(26);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--green);
  color: var(--black);
}

.A_SnackBarKey {
  font-weight: 900;
  font-style: italic;
}

._Get {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 1.875rem;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 1.875rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
