.O_SystemSwitch {
  display: flex;
  flex-direction: column;
  width: 6vw;
  height: 3vw;
  border: 1.5px solid var(--grey);
  border-radius: 4px;

  .C_SwitchItems {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .M_MacosItem {
      @include itemGrid;
      margin: 0.27vw 0.25vw;
      width: 2.3vw;
      height: 2.3vw;
      border: none;
      outline: none;
      background-color: transparent;

      .A_MacosSVG {
        width: 0.99vw;
        height: 1.2vw;
        overflow: visible;

        .Q_MacosVector {
          fill: var(--white);
        }
      }
    }
    .M_WindowsItem {
      @include itemGrid;
      margin: 0.27vw 0.25vw;
      width: 2.3vw;
      height: 2.3vw;
      border: none;
      outline: none;
      background-color: transparent;

      .A_WindowsSVG {
        width: 1.15vw;
        height: 1.15vw;
        overflow: visible;

        .Q_WindowsVector {
          fill: var(--white);
        }
      }
    }

    ._Active {
      @include itemOpenConfig(var(--black), var(--green), 0px solid var(--green), 700, italic);
      border-radius: 2px;
    }
  }
}
