html.about {
    scroll-behavior: smooth;
}

body.about {
    overflow-x: hidden;
    background-color: $black;
    font-family: "Inter", sans-serif;
    font-style: normal;

    // 1 screen 

    .container {
        padding: 1.5% 2% 2% 2%;
    }

    .block {
        display: flex;
        flex-direction: column;
    }

    .block-header {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;

        & h1 {
            font-size: 3rem;
            font-weight: 600;
            color: $white;

            &:hover {
                color: $green;
            }
        }

        & .block-menu {
            padding-top: 1.4%;
        }

        & h2 {
            font-size: 3rem;
            font-weight: 600;
            opacity: 0;
        }

        .menu {

            .items-menu-2 {

                .item-menu2-4 {
                    & h3 {
                        @extend %item-open-now;
                    }
                }

            }

        }
    }

    .block-main {
        padding-top: 5%;

        & img {
            z-index: 1;
            position: absolute;
            left: 30.1%;
            top: 0%;
        }

        & h4 {
            font-size: 5rem;
            line-height: 5.5rem;
            font-weight: 400;
            color: $white;
        }

        & h5 {
            padding-top: 21%;
            font-size: 2.8rem;
            line-height: 1.5rem;
            font-weight: 400;
            color: $white;
        }

        & h6 {
            padding-top: 1.5%;
            font-size: 1.6rem;
            line-height: 1.9rem;
            font-weight: 300;
            color: $white;
        }
    }

    .footer {
        padding-top: 17%;
        padding-bottom: 1%;

        & .footer-items {
            justify-content: left;
        }
    }
}