* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


// .images {
//   display: flex;

//   * {
//     width: 24px;
//     height: 24px;
//     margin: 0 10px;
//   }

//   .image {
//     &#bgPNG {
//       background-image: url('images/image.png');
//     }

//     &#bgJPG {
//       background-image: url('images/image.jpg');
//     }

//     &#bgSVG {
//       background-image: url('images/image.svg');
//     }
//   }
// }