html {
  &.Shortcuts,
  &.Selections {
    scroll-padding-block-start: 2.5vw;
  }
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  font-family: 'IBM-PlexSans', sans-serif;
  color: var(--white);
}

.C_Wrapper {
  margin: 0 2.5vw;
}

.Q_TextSelection {
  color: var(--green);

  &.Fancy {
    font-style: italic;
  }
}
