* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.footer {

  & .footer-items {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & .footer-item-up h3 {
      width: 141px;
      @extend %item-footer-open;

      &:hover {
        color: $green;
        border: 2px solid $green;
      }
    }

    & .footer-item-vk {
      width: 50px;
      @extend %item-footer-open;

      &:hover {
        border: 2px solid $green;
      }

      &:hover .footer-vk {
        fill: $green;
      }

      & svg {
        transform: translate(1px);
      }
    }

    & .footer-item-dzen {
      width: 50px;
      @extend %item-footer-open;

      &:hover {
        border: 2px solid $green;
      }

      &:hover .footer-dzen {
        fill: $green;
      }
    }

    & .footer-item-tg {
      width: 50px;
      @extend %item-footer-open;

      &:hover {
        border: 2px solid $green;
      }

      &:hover .footer-tg {
        fill: $green;
      }

      & svg {
        transform: translate(-2px);
      }
    }
  }

  & a:nth-child(-n+3) {
    margin-right: 0.7%;
  }

}