@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Light.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Regular.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Medium.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Bold.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
