.M_ShortcutValue {
  margin: 4rem auto 8rem auto;
  font-size: 20rem;
  text-align: center;
  animation: modify-shortcut-style 3.5s infinite;
  // animation-play-state: running;
  // cursor: help;

  &:hover {
    // animation-play-state: paused;
    color: var(--green);
  }

  @keyframes modify-shortcut-style {
    10% {
      font-weight: 300;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }

    20% {
      font-weight: 500;
      font-style: italic;
      text-decoration: underline;
      text-decoration-thickness: 0.6rem;
      text-underline-offset: 2rem;
      text-transform: capitalize;
    }

    30% {
      font-weight: 200;
      font-style: normal;
      text-decoration-line: line-through;
      text-decoration-thickness: 0.7rem;
      text-transform: none;
    }

    40% {
      font-weight: 600;
      font-style: italic;
      text-decoration: none;
      text-transform: lowercase;
    }

    50% {
      font-weight: 100;
      font-style: italic;
      text-decoration-line: line-through;
      text-decoration-thickness: 0.7rem;
      text-transform: none;
    }

    60% {
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
      text-transform: lowercase;
    }

    70% {
      font-weight: 400;
      font-style: italic;
      text-decoration: underline;
      text-decoration-thickness: 0.7rem;
      text-underline-offset: 3rem;
      text-transform: capitalize;
    }
  }
}

.M_TargetArrow {
  margin: 0 auto;

  .A_ArrowSVG {
    display: block;
    margin: 0 auto;
    width: 1rem;
    overflow: visible;

    .Q_ArrowVector {
      fill: var(--white);

      &:hover {
        fill: var(--green);
      }
    }
  }
}

.M_BlockMain {
  margin: 22.5rem 0 3.5rem 0;
}

.M_BlockMission {
  margin: 22.5rem 0 27.5rem 0;
}

.M_BlockDev {
  margin: 1rem 0 4rem 0;
}

.M_BlockUnique {
  margin: 22.5rem 0 27.5rem 0;
}

.M_BlockWho {
  margin: 1rem 0 3.5rem 0;

  .A_TextMainH1 {
    padding: 2.5rem 0 0.5rem;
  }

  .A_TextMainH2 {
    padding-top: 2rem;
    line-height: 115%;
  }

  .A_ImgWho {
    margin: 3.5rem auto 0;
    width: 74.5rem;
    display: block;
  }
}

.C_Footer {
  justify-content: center;
}

// @media screen and (max-width: 768px) {
//   .header {
//     margin: 2.5rem;
//     flex-direction: column;
//     margin: 0 auto;
//     margin-bottom: 5rem;

//     .hotkeys {
//       @include itemGrid;
//       margin: 7rem auto;
//     }
//   }

//   .block-shortcut {
//     color: var(--white);

//     & div {
//       margin: 10rem auto 10rem auto;
//       font-size: 25rem;
//       text-align: center;
//       animation: change-text 3.5s infinite;
//       // animation-play-state: running;
//       cursor: help;

//       &:hover {
//         // animation-play-state: paused;
//         color: var(--green);
//       }
//     }
//   }

//   .block-arrow {
//     margin: 0 auto;

//     a {
//       svg {
//         margin: 0 49.5%;
//         width: 0.94rem;
//         height: 1.56rem;

//         #arrow {
//           fill: var(--white);

//           &:hover {
//             fill: var(--green);
//           }
//         }
//       }
//     }

//     // & h2 {
//     //    font-size: 1.3rem;
//     //    line-height: 1rem;
//     //    font-weight: 400;
//     //    color: var(--white);
//     //    text-align: center;

//     //    &:hover {
//     //       color: var(--green);
//     //       text-decoration: underline;
//     //    }
//     // }
//   }

//   .title-main {
//     padding: 25rem 0 3.5rem 0;
//     margin: 0 auto;

//     & h5 {
//       padding-top: 2.5rem;
//       line-height: 135%;
//     }
//   }

//   .title-mission {
//     padding: 25rem 0 27.5rem 0;
//     margin: 0 auto;

//     & h5 {
//       padding-top: 2.5rem;
//       line-height: 115%;
//     }
//   }

//   .title-dev {
//     padding: 1rem 0 10rem 0;
//     margin: 0 auto;
//   }

//   .items-dev {
//     padding-top: 1rem;
//     margin: 0 auto;
//     width: 94rem;
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
//     column-gap: 2rem;
//     row-gap: 2rem;

//     & h2 {
//       margin: 5% 0 1% 6%;
//       font-size: clamp(1rem, 3rem - 2rem, 1.15rem);
//       line-height: 120%;
//       font-weight: 400;
//     }

//     & h1 {
//       margin: 5% 0 1% 6%;
//       font-size: clamp(2rem, 8rem - 2rem, 2.75rem);
//       line-height: 100%;
//       font-weight: 500;
//     }

//     .item {
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-start;
//       min-height: 190px;
//       min-width: 235px;
//       border-radius: 5px;
//       font-weight: 500;
//       cursor: help;

//       &:hover {
//         color: var(--white)-hov;
//         background-color: var(--black)-hov;
//         border: 1.5px solid var(--black)-hov;
//       }
//     }

//     .shortcuts,
//     .about,
//     .selections,
//     .design {
//       color: var(--black);
//       background-color: var(--green);
//     }

//     .clipboard,
//     .hide,
//     .switch,
//     .undo {
//       background-color: transparent;
//       border: 1.5px solid var(--grey);

//       & h1 {
//         color: white;
//       }

//       & h2 {
//         color: gray;
//       }
//     }
//   }

//   .title-unique {
//     padding: 25rem 0 27.5rem 0;
//     margin: 0 auto;

//     .element {
//       font-size: 3.13rem;
//       padding-top: 2.5rem;
//       line-height: 100%;
//       color: var(--white);
//       font-style: italic;
//       text-transform: uppercase;

//       opacity: 0;
//       transform: translateX(-50%);
//     }

//     .element._show {
//       opacity: 1;
//       transition: all 1s, opacity 0.1s;
//       transform: translateX(0%);

//       color: var(--green);
//       font-style: italic;
//     }
//   }

//   .title-who {
//     padding: 1rem 0 3.5rem 0;
//     margin: 0 auto;

//     & h4 {
//       padding-top: 2.5rem;
//       line-height: 1.5rem;

//       & span {
//         font-weight: 450;
//         font-style: italic;
//         color: var(--green);
//         text-transform: uppercase;

//         // &:hover {
//         //    color: var(--grey);
//         // }
//       }
//     }

//     & h5 {
//       padding-top: 2rem;
//       line-height: 115%;
//     }
//   }
// }
