.M_KeyboardContainer {
  margin-left: -16vw;
  margin-top: -10rem;
  width: 133%;
  height: 50rem;
  position: relative;
  z-index: -10;

  .A_KeyboardMac,
  .A_KeyboardWin {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
