html.index {
   scroll-behavior: smooth;
   font-size: 16px;
}

body.index {
   background-color: $black;
   font-family: 'Inter', sans-serif;
   font-style: normal;

   // 1 screen

   .block1 {
      padding: 1.5% 2% 2% 2%;
      display: flex;
      flex-direction: column;
   }

   .block1-logo {
      display: flex;
      justify-content: space-between;

      & h1 {
         font-size: 3rem;
         font-weight: 600;
         color: $white;

         &:hover {
            color: $green;
         }
      }
   }

   .block1-shortcut {
      color: $white;

      & div {
         margin: 3% auto 9% auto;
         font-size: 25rem;
         font-weight: 600;
         text-align: center;
         animation: change-text 3.5s infinite;
         // animation-play-state: running;
         cursor: help;

         &:hover {
            // animation-play-state: paused;
            color: $green;
         }
      }

      @keyframes change-text {
         10% {
            font-weight: 300;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
         }

         20% {
            font-weight: 500;
            font-style: italic;
            text-decoration: underline;
            text-decoration-thickness: 0.6rem;
            text-underline-offset: 2rem;
            text-transform: capitalize;
         }

         30% {
            font-weight: 200;
            font-style: normal;
            text-decoration-line: line-through;
            text-decoration-thickness: 0.7rem;
            text-transform: none;
         }

         40% {
            font-weight: 600;
            font-style: italic;
            text-decoration: none;
            text-transform: lowercase;
         }

         50% {
            font-weight: 100;
            font-style: italic;
            text-decoration-line: line-through;
            text-decoration-thickness: 0.7rem;
            text-transform: none;
         }

         60% {
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            text-transform: lowercase;
         }

         70% {
            font-weight: 400;
            font-style: italic;
            text-decoration: underline;
            text-decoration-thickness: 0.7rem;
            text-underline-offset: 3rem;
            text-transform: capitalize;
         }
      }
   }

   .block1-text {
      display: flex;
      justify-content: space-between;

      & h2 {
         font-size: 1.55rem;
         line-height: 1rem;
         font-weight: 400;
         color: $white;

         &:hover {
            color: $green;
         }
      }
   }

   // 2 screen

   #mail-target {
      margin: 5.5%;
   }

   .block2 {
      padding-top: 1%;
      margin: 0 auto 7% auto;

      .menu {
         .items-menu-2 {
            .item-menu2-1 {
               & h3 {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600);
               }
            }
         }
      }

      .mail-index {
         .mail-text-index {
            padding-top: 8%;
            padding-bottom: 6%;

            & h4 {
               font-size: 5.5rem;
               text-align: center;
               font-weight: 400;
               color: $white;
            }

            & h5 {
               padding-top: 3%;
               font-size: 1.55rem;
               line-height: 1.8rem;
               letter-spacing: 0.07rem;
               text-align: center;
               font-weight: 300;
               color: $white;
            }
         }

         .mail-input-index {
            margin: 0 auto;
            width: 426px;
            position: relative;
         }

         .email-form {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .input-email {
               color: $white;
               min-width: 420px;
               min-height: 50px;
               border: 1.5px solid $grey;
               border-radius: 42.1569px;
               background-color: $black;
            }

            input[placeholder] {
               padding-left: 5%;
               font-size: 1.8rem;
            }

            .input-email::-webkit-input-placeholder {
               color: $grey2;
            }

            button {
               outline: none;
               border: 0;
               background: transparent;
               position: absolute;
               top: 11.8%;
               right: 1%;
            }

            #email-form-done {
               position: absolute;
               padding-top: 3%;
               left: 35%;
               font-size: 1rem;
               font-style: normal;
               font-weight: 300;
               color: $green;
            }
         }
      }
   }

   // footer

   .footer {
      padding: 1.6% 0 2% 1.5%;
   }
}
