.block-menu {
   display: flex;
   flex-direction: column;

   .menu {
      & a {
         margin-right: 0.7%;
      }

      .items-menu {
         display: flex;
         flex-direction: row;
         padding-bottom: 1%;
         justify-content: center;

         .item-menu1-1 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(119px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu1-2 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(153px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu1-3 {
            // page
            & h3 {
               @extend %itemGrid;
               @include itemConfig(166px, 50px, $black, $grey3, 1.5px solid $grey3, 42px, 1.5rem, 600);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu1-4 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(124px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu1-5 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(158px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu1-6 {
            // page
            & h3 {
               @extend %itemGrid;
               @include itemConfig(190px, 50px, $black, $grey3, 1.5px solid $grey3, 42px, 1.5rem, 600);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu1-7 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(158px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu1-8 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(125px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         & a:last-child {
            margin-right: 0%;
         }
      }

      .items-menu-2 {
         display: flex;
         flex-direction: row;
         justify-content: center;

         .item-menu2-1 {
            // page
            & h3 {
               @extend %itemGrid;
               @include itemConfig(139px, 50px, $black, $grey3, 1.5px solid $grey3, 42px, 1.5rem, 600);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu2-2 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(178px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu2-3 {
            // page
            & h3 {
               @extend %itemGrid;
               @include itemConfig(132px, 50px, $black, $grey3, 1.5px solid $grey3, 42px, 1.5rem, 600);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu2-4 {
            // page
            & h3 {
               @extend %itemGrid;
               @include itemConfig(170px, 50px, $black, $grey3, 1.5px solid $grey3, 42px, 1.5rem, 600);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu2-5 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(130px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         .item-menu2-6 {
            // hotkey
            & h3 {
               @extend %itemGrid;
               @include itemConfig(136px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);
               cursor: wait;

               &:hover {
                  @include itemOpenConfig($green, $black, 1.5px solid $green, 600);
               }
            }
         }

         & a:last-child {
            margin-right: 0%;
         }
      }
   }
}

.footer {
   & .footer-items {
      display: flex;
      flex-direction: row;

      & .footer-item-up h3 {
         // footer-item
         @extend %itemGrid;
         @include itemConfig(141px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);

         &:hover {
            @include itemOpenConfig($green, transparent, 2px solid $green, 500);
         }
      }

      & .footer-item-vk {
         // footer-item
         @extend %itemGrid;
         @include itemConfig(50px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);

         &:hover {
            @include itemOpenConfig($green, transparent, 2px solid $green, 500);
         }

         &:hover .footer-vk {
            fill: $green;
         }

         // & svg {
         //   transform: translate(1px);
         // }
      }

      & .footer-item-dzen {
         // footer-item
         @extend %itemGrid;
         @include itemConfig(50px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);

         &:hover {
            @include itemOpenConfig($green, transparent, 2px solid $green, 500);
         }

         &:hover .footer-dzen {
            fill: $green;
         }
      }

      & .footer-item-tg {
         // footer-item
         @extend %itemGrid;
         @include itemConfig(50px, 50px, $grey3, transparent, 1.5px solid $grey3, 42px, 1.5rem, 500);

         &:hover {
            @include itemOpenConfig($green, transparent, 2px solid $green, 500);
         }

         &:hover .footer-tg {
            fill: $green;
         }

         & svg {
            transform: translate(-2px);
         }
      }
   }

   & a:nth-child(-n + 3) {
      margin-right: 0.7%;
   }
}

.windows {
   padding-top: 4%;
   margin: 0 auto;

   .windows-keyboard {
      margin: auto;

      // .fn-win {
      //   fill: rgb(141, 39, 39);
      // }
   }
}

.macos {
   padding-top: 4%;
   margin: 0 auto;

   .macos-keyboard {
      margin: auto;

      // .fn-win {
      //   fill: rgb(141, 39, 39);
      // }
   }
}

.footer-items-mw {
   width: 6.5%;
   display: flex;
   flex-direction: row;

   & a:first-child {
      margin-right: 6%;
   }

   .win :hover {
      .win-icon {
         fill: $green;
      }
   }

   .mac :hover {
      .mac-icon {
         fill: $green;
      }
   }
}

.footer-items-m {
   width: 2.7%;
   display: flex;
   flex-direction: row;

   .mac :hover {
      .mac-icon {
         fill: $green;
      }
   }
}

.footer-items-w {
   width: 2.7%;
   display: flex;
   flex-direction: row;

   .win :hover {
      .win-icon {
         fill: $green;
      }
   }
}
