.hotkeys {
   & svg {
      margin-left: -1.88vw;
      width: 11.98vw;
      overflow: visible;
      transform: translate(0px);

      &:hover {
         animation: shift-text 1s infinite;
         animation-iteration-count: 1;
      }

      @keyframes shift-text {
         1% {
            margin-left: -1.88vw;
         }
         100% {
            margin-left: 0px;
         }
      }

      &:hover g:first-child {
         visibility: visible;
         animation: shift 1s infinite;
         animation-iteration-count: 1;

         @keyframes shift {
            1% {
               transform: translate(1.88vw);
               opacity: 0;
            }
            100% {
               transform: translate(0px);
               opacity: 1;
            }
         }
      }

      &:hover g:first-child.two-shift {
         visibility: visible;
         animation: shift-two 1s infinite;
         animation-iteration-count: 1;

         @keyframes shift-two {
            25% {
               fill-opacity: 0;
            }
            35% {
               fill-opacity: 0.5;
            }
            50% {
               fill-opacity: 0.5;
            }
            100% {
               fill-opacity: 0.5;
            }
         }
      }

      & g:first-child {
         visibility: hidden;
         transform: translate(1.88vw);

         .one-shift {
            fill: $green;
            fill-opacity: 0.5;
         }
         .two-shift {
            fill-opacity: 0.5;
            fill: $green;
         }
      }

      & g:last-child {
         .h-logo,
         .o-logo,
         .t-logo {
            fill: $green;
         }
         .k-logo,
         .e-logo,
         .y-logo,
         .s-logo {
            fill: $white;
         }
      }
   }
}

.modal {
   font-family: sans-serif;
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   // background-color: rgba(0, 0, 0, 0.4);

   .modal-content {
      display: flex;
      flex-direction: column;
      margin-top: calc(56vh - 7.5vw);
      margin-left: auto;
      margin-right: auto;
      padding: 0.3vw;
      width: 22.5vw;
      height: 7.5vw;
      border-radius: 5px;
      background-color: $green;

      h1 {
         color: $black;
         text-align: center;
         font-size: 1.1vw;
         font-weight: 400;
         letter-spacing: -0.03em;
         line-height: 125%;

         b {
            font-style: italic;
            font-weight: 700;
         }

         a {
            font-style: italic;
            font-weight: 700;
            color: $black;
            text-decoration: underline;

            &:hover {
               text-decoration: none;
            }
         }
      }

      .close-button {
         svg {
            width: 0.68vw;
            height: 0.68vw;
            float: right;
            overflow: visible;
            vertical-align: middle;
            margin: 0.3vw 0.3vw 0.3vw 20.7vw;

            &:hover {
               cursor: pointer;
            }

            #modal-close {
               fill: $black;
            }

            &:hover #modal-close {
               fill: orangered;
            }

            &:active #modal-close {
               fill: $black;
            }
         }
      }
   }
}

.windows {
   margin: 3vw auto;

   .windows-keyboard {
      display: grid;
      place-items: center;

      svg {
         width: 85vw;
      }

      // .fn-win {
      //   fill: rgb(141, 39, 39);
      // }
   }
}

.macos {
   margin: 3vw auto;

   .macos-keyboard {
      display: grid;
      place-items: center;

      svg {
         width: 85vw;
      }

      // .fn-win {
      //   fill: rgb(141, 39, 39);
      // }
   }
}

.block-menu {
   display: flex;
   flex-direction: column;

   .menu {
      & a {
         margin-right: 0.5vw;
      }

      .items-menu {
         display: flex;
         flex-direction: row;
         justify-content: center;

         .item-menu1 {
            & h3 {
               @include itemGrid;
               @include itemConfig(7.4vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);
               // // cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
               }
            }
         }
         .item-menu2 {
            & h3 {
               @include itemGrid;
               @include itemConfig(8.54vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);
               // cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
               }
            }
         }
         .item-menu3 {
            & h3 {
               @include itemGrid;
               @include itemConfig(7.5vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);
               // cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
               }
            }
         }
         .item-menu4 {
            & h3 {
               @include itemGrid;
               @include itemConfig(8.65vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);
               // cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
               }
            }
         }
         .item-menu5 {
            & h3 {
               @include itemGrid;
               @include itemConfig(9.69vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);
               // cursor: wait;

               &:hover {
                  @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
               }
            }
         }

         & a:last-child {
            margin-right: 0vw;
         }
      }
   }
}

.footer {
   & .footer-items {
      display: flex;
      flex-direction: row;
      justify-content: center;

      & .footer-item-up h3 {
         // footer-item
         @include itemGrid;
         @include itemConfig(6.51vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);

         &:hover {
            @include itemOpenConfig($green, transparent, 1.5px solid $green, 600, italic);
         }
      }

      & .footer-item-vk {
         // footer-item
         @include itemGrid;
         @include itemConfig(2.6vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);

         & svg {
            width: 1.51vw;
            height: 0.94vw;
         }

         &:hover {
            @include itemOpenConfig($green, transparent, 1.5px solid $green, 600, italic);
         }

         &:hover .footer-vk {
            fill: $green;
         }
      }

      & .footer-item-dzen {
         // footer-item
         @include itemGrid;
         @include itemConfig(2.6vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);

         & svg {
            width: 1.82vw;
            height: 1.82vw;
         }

         &:hover {
            @include itemOpenConfig($green, transparent, 1.5px solid $green, 600, italic);
         }

         &:hover .footer-dzen {
            fill: $green;
         }
      }

      & .footer-item-tg {
         // footer-item
         @include itemGrid;
         @include itemConfig(2.6vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 500);

         & svg {
            width: 1.51vw;
            height: 1.25vw;
         }

         &:hover {
            @include itemOpenConfig($green, transparent, 1.5px solid $green, 600, italic);
         }

         &:hover .footer-tg {
            fill: $green;
         }

         & svg {
            transform: translate(-2px);
         }
      }
   }

   & a:nth-child(-n + 3) {
      margin-right: 0.5vw;
   }
}

@media screen and (max-width: 768px) {
   .hotkeys {
      & svg {
         width: 45.98vw;

         & g:first-child {
            fill-opacity: 0.5;
            visibility: visible;
            transform: translate(0px);
         }
      }
   }

   .modal {
      font-family: sans-serif;
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      // background-color: rgba(0, 0, 0, 0.4);

      .modal-content {
         display: flex;
         flex-direction: column;
         margin-top: calc(56vh - 7.5vw);
         margin-left: auto;
         margin-right: auto;
         padding: 1vw;
         width: 50vw;
         height: 18.5vw;
         border-radius: 5px;
         background-color: $green;

         h1 {
            margin-top: -0.5vw;
            color: $black;
            text-align: center;
            font-size: 1.1vw;
            font-weight: 400;
            letter-spacing: -0.03em;
            line-height: 125%;
         }

         .close-button {
            width: 97%;
            svg {
               width: 0.68vw;
               height: 3.3vw;
               float: right;
               overflow: visible;
               vertical-align: middle;
               margin: 0.3vw 0.3vw 0.3vw 20.7vw;

               &:hover {
                  cursor: pointer;
               }

               #modal-close {
                  fill: $black;
               }

               &:hover #modal-close {
                  fill: orangered;
               }

               &:active #modal-close {
                  fill: $black;
               }
            }
         }
      }
   }

   .windows {
      margin: 3vw auto;

      .windows-keyboard {
         svg {
            overflow: visible;
            width: 95vw;
         }
      }
   }

   .block-menu {
      display: flex;
      flex-direction: column;

      .menu {
         & a {
            margin-right: 1vw;
         }

         .items-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .item-menu1 {
               & h3 {
                  @include itemGrid;
                  @include itemConfig(17.4vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);
                  // cursor: wait;

                  &:hover {
                     @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
                  }
               }
            }
            .item-menu2 {
               & h3 {
                  @include itemGrid;
                  @include itemConfig(18.54vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);
                  // cursor: wait;

                  &:hover {
                     @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
                  }
               }
            }
            .item-menu3 {
               & h3 {
                  @include itemGrid;
                  @include itemConfig(17.5vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);
                  // cursor: wait;

                  &:hover {
                     @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
                  }
               }
            }
            .item-menu4 {
               & h3 {
                  @include itemGrid;
                  @include itemConfig(18.65vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);
                  // cursor: wait;

                  &:hover {
                     @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
                  }
               }
            }
            .item-menu5 {
               & h3 {
                  @include itemGrid;
                  @include itemConfig(19.69vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);
                  // cursor: wait;

                  &:hover {
                     @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
                  }
               }
            }

            & a:last-child {
               margin-right: 0vw;
            }
         }
      }
   }

   .footer {
      & .footer-items {
         display: flex;
         flex-direction: row;
         justify-content: center;

         & a {
            margin-right: 1vw;
         }

         & .footer-item-up h3 {
            // footer-item
            @include itemGrid;
            @include itemConfig(16.51vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);

            &:hover {
               @include itemOpenConfig($green, transparent, 1.5px solid $green, 700, italic);
            }
         }

         & .footer-item-vk {
            // footer-item
            @include itemGrid;
            @include itemConfig(5.6vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);

            & svg {
               width: 3.51vw;
               height: 2.94vw;
            }

            &:hover {
               @include itemOpenConfig($green, transparent, 1.5px solid $green, 700, italic);
            }

            &:hover .footer-vk {
               fill: $green;
            }
         }

         & .footer-item-dzen {
            // footer-item
            @include itemGrid;
            @include itemConfig(5.6vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);

            & svg {
               width: 3.82vw;
               height: 3.82vw;
            }

            &:hover {
               @include itemOpenConfig($green, transparent, 1.5px solid $green, 700, italic);
            }

            &:hover .footer-dzen {
               fill: $green;
            }
         }

         & .footer-item-tg {
            // footer-item
            @include itemGrid;
            @include itemConfig(5.6vw, 5.6vw, $white, transparent, 1.5px solid $grey, 2px, 2.2vw, 500);

            & svg {
               width: 3.51vw;
               height: 3.25vw;
               transform: translate(-1px);
            }

            &:hover {
               @include itemOpenConfig($green, transparent, 1.5px solid $green, 700, italic);
            }

            &:hover .footer-tg {
               fill: $green;
            }
         }
      }
   }
}
