.C_WrapperShortcuts {
  margin: 0 2.5vw;

  .S_SearchForm {
    width: 100%;

    .C_SearchBar {
      display: flex;
      flex-direction: row;
      height: 3.6vw;
      border-radius: 5px;
      background-color: var(--black);
      color: var(--white);
      border: 1.5px solid var(--grey);
      font-size: 1.25vw;
      font-weight: 500;
      cursor: help;

      &:hover {
        outline: 1.5px solid var(--green);

        .M_SearchButton {
          .A_ButtonSVG {
            .Q_ButtonIcon {
              fill: var(--green);
            }
          }
        }

        .M_SearchInput::-webkit-input-placeholder {
          color: var(--green);
        }
      }

      .M_SearchInput {
        width: 96%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;

        &[placeholder] {
          padding-left: 1.3%;
          font-size: 1.25vw;
          font-weight: 300;
          color: var(--green);
        }
      }

      .M_SearchButton {
        margin-bottom: 0.2vw;
        margin-left: 0.9vw;
        color: transparent;
        border: none;
        background-color: transparent;

        .A_ButtonSVG {
          .Q_ButtonIcon {
            fill: var(--grey);
          }
        }
      }
    }
  }

  .S_Shortcuts {
    padding: 3vw 0 5vw 0;
    margin: 0 auto;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(435px, 1fr));
    column-gap: 1vw;
    row-gap: 1vw;

    .M_ShortcutCard {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.25vw;
      min-height: 300px;
      min-width: 435px;
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: 500;
      cursor: help;
      border: 1.5px solid var(--grey);

      .A_ShortcutCardName {
        font-size: clamp(1.5rem, 2rem, 2vw);
        line-height: 110%;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--white);
      }

      .A_ShortcutCardKey {
        font-size: clamp(1rem, 3vw - 2rem, 1.15vw);
        line-height: 100%;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--white);
      }

      &:hover {
        background-color: var(--black2);
        border: 1.5px solid var(--green);

        .A_ShortcutCardName,
        .A_ShortcutCardKey {
          font-style: italic;
        }

        .A_ShortcutCardKey {
          color: var(--green);
        }
      }

      &:active {
        background-color: var(--gray);
        box-shadow: 0px 1px 50px rgba(203, 251, 69, 0.4);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .C_WrapperShortcuts {
    .S_Shortcuts {
      padding: 3vw 0 5vw 0;
      margin: 0 auto;
      width: 94vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
      column-gap: 2vw;
      row-gap: 2vw;

      .M_ShortcutCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25vw;
        min-height: 245px;
        min-width: 235px;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: help;
        border: 1.5px solid var(--grey);

        .A_ShortcutCardName {
          margin: 3% 0 1% 3%;
          font-size: clamp(1.5rem, 2rem, 2vw);
          line-height: 100%;
          font-weight: 500;
        }

        .A_ShortcutCardKey {
          margin: 3% 0 1% 3%;
          font-size: clamp(1rem, 3vw - 2rem, 1.15vw);
          line-height: 120%;
        }

        &:hover {
          background-color: var(--black2);
          border: 1.5px solid var(--green);

          .A_ShortcutCardName,
          .A_ShortcutCardKey {
            font-style: italic;
          }

          .A_ShortcutCardKey {
            color: var(--green);
          }
        }

        &:active {
          background-color: var(--gray);
          box-shadow: 0px 1px 50px rgba(203, 251, 69, 0.4);
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .C_WrapperShortcuts {
    .S_Shortcuts {
      .M_ShortcutCard {
        .A_ShortcutCardName {
          font-size: clamp(2rem, 3rem, 3vw);
        }
        .A_ShortcutCardKey {
          font-size: clamp(1rem, 3vw - 2rem, 1.15vw);
        }
      }
    }
  }
}
