.C_SelectBar,
.S_Filters {
  display: flex;
  flex-direction: row;
  gap: rem(7.5);
}

.S_Filters {
  margin: rem(10) 0 rem(45);
  align-self: center;
}

.A_SelectIcon {
  color: var(--grey);
  transform: scale(1.5);
}

.M_ResetFilters {
  @include resetButton;
  font-size: 1.35rem;
  font-weight: 400;
  color: var(--grey);

  &:hover {
    color: var(--green);

    .A_ResetIcon {
      color: var(--green);
    }
  }

  .A_ResetIcon {
    margin-left: 0.5rem;
    color: var(--grey);
    transform: scale(0.75);
  }
}

.S_Shortcuts {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: rem(19);
  row-gap: rem(19);
}

.M_ShortcutCard {
  padding: rem(15) rem(17);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: rem(302);
  border-radius: 5px;
  border: 1.5px solid var(--grey);
  cursor: help;

  &:hover {
    background-color: var(--black2);
    border: 1.5px solid var(--green);

    .A_CardName,
    .A_CardKey {
      font-style: italic;
    }

    .A_CardKey {
      color: var(--green);
    }
  }

  &:active {
    background-color: var(--black2);
    box-shadow: 0px 1px 50px rgba(203, 251, 69, 0.4);
  }

  &.Render {
    opacity: 0;
  }
}

@media (max-width: 1770px) {
  .S_Shortcuts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .S_Shortcuts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 645px) {
  .S_Shortcuts {
    grid-template-columns: repeat(1, 1fr);
  }

  .M_ShortcutCard {
    height: rem(272);
  }

  .S_Filters {
    display: none;
  }
}

// @media screen and (max-width: 1200px) {
//   .S_Shortcuts {
//     grid-template-columns: repeat(3, 1fr);
//     // column-gap: 1rem;
//     // row-gap: 1rem;
//   }
// }
// @media screen and (max-width: 768px) {
//   .S_Shortcuts {
//     grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
//     column-gap: 2rem;
//     row-gap: 2rem;
//   }

//   .M_ShortcutCard {
//     min-height: 245px;
//     min-width: 235px;
//   }
// }
