.C_Shortcut {
  margin: 0 auto;
  width: 100%;

  .Q_TextMainSelection {
    font-style: normal;
  }
}

//*? switch keyboards

.A #S_Win,
#S_Mac {
  display: none;
}

#S_Win,
#S_Mac {
  .O_Keyboard {
    margin: 4.5rem auto 3rem;
  }

  .A_TextMainXL {
    max-width: 95%;
    margin: 0 auto;
  }

  .A_TextMainL {
    max-width: 90%;
    margin: 0 auto;
  }
}

//*? keyboard shortcuts animation

.W_AltTab {
  .O_Keyboard {
    .A_KeyboardSVG {
      .alt-win {
        animation: shortcut-first 4s infinite ease-out;
      }

      .tab-win {
        animation: shortcut-second 4s infinite ease-out;
      }
    }
  }
}

.W_CmdTab {
  .O_Keyboard {
    .A_KeyboardSVG {
      .cmd-mac {
        animation: shortcut-first 4s infinite ease-out;
      }

      .tab-mac {
        animation: shortcut-second 4s infinite ease-out;
      }
    }
  }
}

@keyframes shortcut-first {
  9% {
    fill: #515151;
  }

  10% {
    fill: var(--green);
  }

  50% {
    fill: var(--green);
  }

  90% {
    fill: var(--green);
  }

  95% {
    fill: #515151;
  }

  100% {
    fill: #515151;
  }
}

@keyframes shortcut-second {
  39% {
    fill: #515151;
  }

  40% {
    fill: var(--green);
  }

  90% {
    fill: var(--green);
  }

  95% {
    fill: #515151;
  }

  100% {
    fill: #515151;
  }
}
