.C_SelectBar,
.S_Filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: rem(7.5);
}

.S_Filters {
  margin: rem(10) 0 rem(45);
  align-self: center;
}

.A_SelectIcon {
  color: var(--grey);
  transform: scale(1.5);
}

.M_ResetFilter {
  display: flex;
  align-items: center;
  font-size: 1.35rem;
  font-weight: 400;
  color: var(--grey);
  cursor: pointer;

  &:hover {
    transition: all 0.25s ease-in-out;
    color: var(--green);

    .A_ResetIcon {
      transition: all 0.25s ease-in-out;
      color: var(--green);
    }
  }

  .A_ResetIcon {
    margin-left: 0.5rem;
    color: var(--grey);
    transform: scale(0.75);
  }
}

.M_ShortcutCard {
  position: relative;
  padding: rem(15) rem(17);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: rem(250);
  border-radius: 5px;
  border: 1.5px solid var(--grey);
  cursor: help;

  &:hover {
    border: 1.5px solid var(--green);

    .A_CardName,
    .A_CardKey {
      font-style: italic;
      font-weight: 500;
    }

    .A_CardKey {
      color: var(--green);
    }
  }

  &:active {
    box-shadow: 0px 1px 50px rgba(203, 251, 69, 0.2);
  }

  &.Render {
    opacity: 0;
  }

  &.Selections {
    height: rem(302);
  }

  &.Training {
    background-color: var(--green);
    border: 1.5px solid var(--grey);
    cursor: help;

    .A_CardName {
      color: var(--black);
    }

    .A_ContentButton {
      width: 100%;
      text-align: center;
    }

    &:hover {
      box-shadow: 0px 1px 50px rgba(203, 251, 69, 0.2);

      .A_CardName {
        font-style: normal;
        font-weight: 400;
      }

      .A_CardKey {
        color: var(--green);
      }
    }
  }
}

@media (max-width: 1024px) {
  .M_ShortcutCard {
    &.Training {
      display: none;
    }
  }
}

.A_LoadingLogo {
  display: grid;
  place-items: center;
  height: 100vh;
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 1770px) {
  .M_ShortcutCard {
    height: rem(200);

    &.Selections {
      height: rem(240);
    }
  }
}

@media (max-width: 1024px) {
  .M_ShortcutCard {
    height: rem(220);
  }
}

@media (max-width: 645px) {
  .C_SelectBar,
  .S_Filters {
    gap: rem(0);
    justify-content: start;
  }

  .S_Filters {
    margin: rem(10) 0 rem(10) rem(-10);
    .M_ResetFilter {
      margin-left: 0.5rem;
      width: 0;
      .A_ResetText {
        display: none;
      }

      .A_ResetIcon {
        margin-left: 0rem;
        color: var(--grey);
        transform: scale(0.8);
      }
    }
  }

  .M_ShortcutCard {
    height: rem(200);
  }
}
