.M_BlockStyleMain {
  margin-top: 18vw;

  .A_TextMainH1 {
    padding-top: 0.75vw;

    .Q_TergetLinks {
      &:hover {
        color: var(--green);
        text-decoration: underline;
      }
    }
  }
}

.M_TargetArrow {
  &.Styleguide {
    display: block;
    margin-top: 17vw;
  }
}

.M_BlockStyleTone {
  margin-top: 25vw;
}

.M_BlockStyleLogo {
  margin-top: 25vw;

  .O_Logo {
    padding-top: 2vw;
    text-align: center;

    .M_LogoSVG {
      width: 20vw;
    }
  }

  .A_ImgDetails {
    z-index: 1;
    width: 8.5vw;
    margin-top: 2vw;
    margin-left: 57vw;
  }
}

.M_BlockStyleColors {
  margin-top: 25vw;

  .A_TextMainH1 {
    padding-top: 1vw;
  }

  .C_Colors {
    padding-top: 7vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6vw;

    .A_ColorsIMG {
      width: 13vw;
    }
  }
}

.M_BlockStyleSystem {
  margin-top: 25vw;
}

.A_FontsIMG {
  margin: 20vw auto;
  max-width: 55vw;
  display: block;
}

.A_DesignIMG {
  margin: 20vw auto;
  max-width: 90vw;
  display: block;
}

.S_Mockups {
  .A_TextMainH1 {
    .Q_TextMainSelection {
      font-size: inherit;
      font-style: normal;
    }
  }

  .C_MockupItems {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 10vw;
    align-items: center;

    .M_Mockup {
      &.Cap {
        .A_TextMainH1 {
          margin-bottom: -2vw;
        }
        .A_CapIMG {
          max-width: 45vw;
        }
      }
      &.Tshirt {
        .A_TextMainH1 {
          margin-bottom: -2vw;
        }
        .A_TshirtIMG {
          max-width: 55vw;
        }
      }
      &.Stikers {
        .A_StikersIMG {
          max-width: 55vw;
          transform: translate(5vw, 0px);
        }
      }
      &.Website {
        .A_TextMainH1 {
          margin-bottom: 2vw;
        }
        margin-bottom: 3vw;
        .A_WebsiteIMG {
          max-width: 94.5vw;
        }
      }
    }
  }
}
