html.styleguide {
   scroll-behavior: smooth;
   scroll-padding-block-start: 2.5vw;
}

body.styleguide {
   background-color: $black;
   font-family: 'IBM-PlexSans', sans-serif;
   font-style: normal;

   &::-webkit-scrollbar {
      position: absolute;
      width: 17px;
   }
   &::-webkit-scrollbar-track {
      background: $black2;
   }
   &::-webkit-scrollbar-thumb {
      background-color: $grey;
   }

   & a {
      color: $white;
   }

   & h4 {
      color: $white;
      font-size: 1.15vw;
      font-weight: 200;
      text-align: center;
      letter-spacing: -0.03em;
      line-height: 120%;
   }

   & h5 {
      color: $white;
      font-size: 3.13vw;
      font-weight: 500;
      text-align: center;

      b {
         font-size: 3.13vw;
         font-weight: 450;
         font-style: italic;
         color: $green;
      }
   }

   .header {
      margin: 2.5vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .title-main {
      padding-top: 15vw;

      h4 {
         padding-top: 1vw;

         a {
            &:hover {
               color: $green;
               text-decoration: underline;
            }
         }
      }
   }

   .block-arrow {
      margin-top: 16vw;

      a {
         svg {
            margin: 0 49.5%;
            width: 0.94vw;
            height: 1.56vw;

            #arrow {
               fill: $white;

               &:hover {
                  fill: $green;
               }
            }
         }
      }
   }

   .title-tone {
      margin-top: 25vw;

      h4 {
         padding-top: 1vw;

         a {
            &:hover {
               color: $green;
               text-decoration: underline;
            }
         }
      }
   }

   .block-logo {
      margin-top: 25vw;

      div {
         padding-top: 3vw;
         text-align: center;

         svg {
            width: 20vw;
         }
      }

      img {
         z-index: 1;
         width: 8.5vw;
         margin-top: 2vw;
         margin-left: 57vw;
      }
   }

   .title-colors {
      margin-top: 25vw;

      h4 {
         padding-top: 1vw;

         a {
            &:hover {
               color: $green;
               text-decoration: underline;
            }
         }
      }
   }

   .block-colors {
      padding-top: 4vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3vw;

      img {
         width: 10vw;
      }
   }

   .title-system {
      margin-top: 25vw;

      h5 {
         font-size: 2.71vw;
         padding-top: 5vw;
         line-height: 110%;
      }
   }

   .img-system {
      margin: 20vw auto;
      max-width: 55vw;

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .img-items {
      margin: 20vw auto;
      max-width: 90vw;

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .title-mockup {
      margin-top: 20vw;
   }

   .mockup-cap {
      margin: 10vw auto;
      max-width: 35vw;

      h5 {
         color: $green;
      }

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .mockup-tshirt {
      margin: 15vw auto;
      max-width: 45vw;

      h5 {
         color: $green;
      }

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .mockup-stikers {
      margin: 15vw auto;
      max-width: 50vw;

      h5 {
         color: $green;
         margin-bottom: 3vw;
      }

      & img {
         transform: translate(50px, 0px);
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .mockup-website {
      margin: 10vw auto 5vw auto;
      max-width: 94.5vw;

      h5 {
         color: $green;
         margin-bottom: 3vw;
      }

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .footer {
      padding: 2.5vw 0 3.5vw 0;
   }
}

@media screen and (max-width: 768px) {
   body.styleguide {
      & h4 {
         color: $white;
         font-size: 3.5vw;
         font-weight: 200;
         text-align: center;
      }
      & h5 {
         color: $white;
         font-size: 4vw;
         font-weight: 500;
         text-align: center;
         letter-spacing: 0.1vw;

         & b {
            font-size: 4vw;
            font-weight: 450;
            font-style: italic;
            color: $green;

            &:hover {
               color: $grey;
            }
         }
      }

      .header {
         margin: 2.5vw;
         flex-direction: column;
         margin: 0 auto;
         margin-bottom: 5vw;

         .hotkeys {
            @include itemGrid;
            margin: 7vw auto;
         }
      }

      .footer {
         padding: 2.5vw 0 3.5vw 0;
      }
   }
}
