$black: #0a0a0a;
$white: #eee;
$white-dark: #b4b4b4;
$grey: #595959;
$green: #cbfb45;

$black-hov: #141414;
$white-hov: #868686;
$black2: #1e1e1e;

// config

@mixin itemConfig($w, $h, $c, $bc, $b, $br, $fs, $fw) {
   width: $w;
   height: $h;
   color: $c;
   background-color: $bc;
   border: $b;
   border-radius: $br;
   font-size: $fs;
   font-weight: $fw;
}

@mixin itemOpenConfig($c, $bc, $b, $fw, $fs) {
   color: $c;
   background-color: $bc;
   border: $b;
   font-weight: $fw;
   font-style: $fs;
}

@mixin itemGrid {
   display: grid;
   place-items: center;
}

// catalog---selections
/**
   * style items
   * * нужно глянуть как они адаптируются
   * ! решить если их нужно изменять
   * ? нужно ли их делать миксинами
   * TODO: доделать грид сетку каталога и подборок 
*/

%menu-shortcut {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min-height: 300px;
   min-width: 435px;
   border-radius: 5px;
   font-size: 1.5rem;
   font-weight: 500;
   color: $white;
   background-color: $black2;
   cursor: help;
}

%menu-shortcut-hover {
   color: $white-hov;
   background-color: $black-hov;
}

%menu-selection {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min-height: 235px;
   min-width: 585px;
   border-radius: 5px;
   font-size: 1.5rem;
   font-weight: 500;
   color: $white;
   background-color: $black2;
   cursor: help;
}

%menu-selection-hover {
   color: $white-hov;
   background-color: $black-hov;
}
