<div class="block-menu">
  <div class="menu">
    <div class="items-menu">
      <!-- <a href="./">
        <div class="item-menu1">
          <h3>ГЛАВНАЯ</h3>
        </div>
      </a>
      <a href="about.html">
        <div class="item-menu2">
          <h3>О ПРОЕКТЕ</h3>
        </div>
      </a> -->
      <a href="archive.html">
        <div class="item archive">
          <h3>ШОРТКАТЫ</h3>
        </div>
      </a>
      <div class="line"></div>
      <a href="selections.html">
        <div class="item selections">
          <h3>ПОДБОРКИ</h3>
        </div>
      </a>
      <!-- <a href="training.html">
        <div class="item-menu5">
          <h3>ТРЕНИРОВКА</h3>
        </div>
      </a> -->
    </div>
  </div>
</div>
