<div class="block-menu">
    <div class="menu">
        <div class="items-menu">
            <a href="../catalog/ctrl-z.html">
                <div class="item-menu1-1">
                    <h3>Ctrl+Z</h3>
                </div>
            </a>
            <a href="../catalog/cmd-z.html">
                <div class="item-menu1-2">
                    <h3>⌘Cmd+Z</h3>
                </div>
            </a>
            <a href="../selections.html">
                <div class="item-menu1-3">
                    <h3>Подборки</h3>
                </div>
            </a>
            <a href="../catalog/win-v.html">
                <div class="item-menu1-4">
                    <h3>Win+V</h3>
                </div>
            </a>
            <a href="../catalog/cmd-h.html">
                <div class="item-menu1-5">
                    <h3>⌘Cmd+H</h3>
                </div>
            </a>
            <a href="../training.html">
                <div class="item-menu1-6">
                    <h3>Тренировка</h3>
                </div>
            </a>
            <a href="../catalog/cmd-o.html">
                <div class="item-menu1-7">
                    <h3>⌘Cmd+O</h3>
                </div>
            </a>
            <a href="../catalog/win-d.html">
                <div class="item-menu1-8">
                    <h3>Win+D</h3>
                </div>
            </a>
        </div>
        <div class="items-menu-2">
            <a href="../">
                <div class="item-menu2-1">
                    <h3>Главная</h3>
                </div>
            </a>
            <a href="../catalog/cmd-tab.html">
                <div class="item-menu2-2">
                    <h3>⌘Cmd+Tab</h3>
                </div>
            </a>
            <a href="../catalog.html">
                <div class="item-menu2-3">
                    <h3>Каталог</h3>
                </div>
            </a>
            <a href="../about.html">
                <div class="item-menu2-4">
                    <h3>О проекте</h3>
                </div>
            </a>
            <a href="../catalog/ctrl-w.html">
                <div class="item-menu2-5">
                    <h3>Ctrl+W</h3>
                </div>
            </a>
            <a href="../catalog/alt-tab.html">
                <div class="item-menu2-6">
                    <h3>Alt+Tab</h3>
                </div>
            </a>
        </div>
    </div>
</div>