<!-- <div id="modal" class="modal">
  <div class="modal-content">
    <div class="close-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none">
        <path id="modal-close" fill-rule="evenodd" d="m0 11.014 1.183 1.182L6.09 7.288l4.923 4.922 1.182-1.182-4.922-4.923 4.923-4.923L11.015 0 6.09 4.923 1.182.013 0 1.197l4.91 4.91L0 11.013Z" clip-rule="evenodd" />
      </svg>
    </div>
    <h1>
      В&nbsp;архиве уже появились<br />
      сочетания клавиш для <b>FIGMA &mdash;</b><br />
      <a href="archive.html">НАЖМИ СЮДА</a>, чтобы попробовать!
    </h1>
  </div>
</div> -->
