<div id="modal" class="W_ModalWrapper">
  <div class="O_Modal">
    <button id="modalButton" class="M_ModalButton"
      ><svg class="A_ModalButtonSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" fill="none"><path class="Q_ModalButtonClose" fill-rule="evenodd" d="m0 11.014 1.183 1.182L6.09 7.288l4.923 4.922 1.182-1.182-4.922-4.923 4.923-4.923L11.015 0 6.09 4.923 1.182.013 0 1.197l4.91 4.91L0 11.013Z" clip-rule="evenodd" /></svg
    ></button>
    <h1 class="A_ModalText">На&nbsp;нашем сайте появились первые сочетания клавиш! Вы&nbsp;можете найти их&nbsp;в&nbsp;разделе <a class="Q_TextSelection" href="shortcuts.html">&laquo;ШОРТКАТЫ&raquo;</a></h1>
  </div>
</div>
