@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  scroll-padding-block-start: 2.5rem;
  scroll-behavior: smooth;
}

body {
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM-PlexSans', sans-serif;
  color: var(--white);

  a {
    color: white;
  }
}

.loading-logo {
  animation: loading-react 1s linear infinite alternate;

  @keyframes loading-react {
    0% {
      opacity: 0.25;
    }
    100% {
      opacity: 0.75;
    }
  }
}
