html {
  scroll-padding-block-start: 2.5rem;
  scroll-behavior: smooth;
}

body {
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM-PlexSans', sans-serif;
  color: var(--white);

  a {
    color: white;
  }
}

.loading-logo {
  animation: loading-react 1s linear infinite alternate;

  @keyframes loading-react {
    0% {
      opacity: 0.25;
    }
    100% {
      opacity: 0.75;
    }
  }
}
