@use 'sass:math';

:root {
  --black: #0e0e0e;
  --white: #eee;
  --grey: #595959;
  --gray: #3a3a3a;
  --green: #cbfb45;
  --black2: #1e1e1e;

  --bg-gradient: linear-gradient(180deg, #000000 0%, #232323 100%);
}

@mixin itemConfig($c, $bc, $b, $br, $fs, $fw) {
  color: $c;
  background-color: $bc;
  border: $b;
  border-radius: $br;
  font-size: $fs;
  font-weight: $fw;
}

@mixin itemConfigg($w, $h, $c, $bc, $b, $br, $fs, $fw) {
  width: $w;
  height: $h;
  color: $c;
  background-color: $bc;
  border: $b;
  border-radius: $br;
  font-size: $fs;
  font-weight: $fw;
}

@mixin itemOpenConfig($c, $bc, $b, $fw, $fs) {
  color: $c;
  background-color: $bc;
  border: $b;
  font-weight: $fw;
  font-style: $fs;
}

@mixin itemGrid {
  display: grid;
  place-items: center;
}

@mixin itemTeam($w, $h, $b, $br) {
  width: $w;
  height: $h;
  outline: $b;
  border-radius: $br;
}

@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}
